.mapbox-container {
  width: 90%;
  display: grid;
  grid-template-rows: repeat(minmax(170px, 1fr));
	grid-template-columns: auto auto;
  grid-gap: 20px;
  padding: 20px;
}

canvas.mapboxgl-canvas {
  width: 90%;
  display: grid;
  grid-template-rows: repeat(minmax(170px, 1fr));
	grid-template-columns: auto auto;
  grid-gap: 20px;
  padding: 20px;
}

/* trying to figure out how to control the size of map here  */