/* ---------    CELL PHONE SCREENS   ----------- */
@media only screen and (max-width: 600px) {
  body {
    /* background-color: rgb(20, 96, 121); */
  }
} 

.App-header {
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vmin;
  font-size: 2.5vmin;
  color: var(--background);
}

  /* -----   IPAD & DESKTOP SIZED SCREENS ------- */
@media only screen and (min-width: 800px) {
  body {
    /* background-color: rgb(121, 69, 20); */
  }
}
